# TODO(b/77868789): Remove this once fixed upstream.
# Happens while tethering
allow dnsmasq netd:fifo_file getattr;
allow dnsmasq netd:unix_stream_socket getattr;
# avc: denied { getattr } for comm="dnsmasq" path="pipe:[19380]" dev="pipefs" ino=19380 scontext=u:r:dnsmasq:s0 tcontext=u:r:netd:s0 tclass=fifo_file permissive=1 b/77868789
# avc: denied { getattr } for path="pipe:[19380]" dev="pipefs" ino=19380 scontext=u:r:dnsmasq:s0 tcontext=u:r:netd:s0 tclass=fifo_file permissive=1 b/77868789
# avc: denied { getattr } for comm="dnsmasq" path="socket:[19388]" dev="sockfs" ino=19388 scontext=u:r:dnsmasq:s0 tcontext=u:r:netd:s0 tclass=unix_stream_socket permissive=1 b/77868789
# avc: denied { getattr } for path="socket:[19388]" dev="sockfs" ino=19388 scontext=u:r:dnsmasq:s0 tcontext=u:r:netd:s0 tclass=unix_stream_socket permissive=1 b/77868789
