# Ignore these for now:
# avc: denied { write } for comm="webview_zygote" path="socket:[30083]" dev="sockfs" ino=30083 scontext=u:r:webview_zygote:s0 tcontext=u:r:zygote:s0 tclass=unix_dgram_socket
dontaudit webview_zygote zygote:unix_dgram_socket write;
